* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    color: #d05553;
}

body {
    background: rgb(74,24,26);
    background: linear-gradient(180deg, #4a181a 44%, #260d10 77%);
    width: 100vw;
    overflow-x: hidden;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #7ee3dd;
}
/* ----------------------------------- extras */

.div_formataçao {
    width: 1280px;
    margin: auto;

}
.tamanho_normal {
    font-size: 1rem;
}

.tamanho_2x {
    font-size: 2rem;
}

.tamanho_3x {
    font-size: 3rem;
}

.tamanho_4x {
    font-size: 4rem;
}

.tamanho_5x {
    font-size: 5rem;
}

#title_img {
    width: 100%;
    height: 100%;
}

.img {
    background-color: blue;
    background-image: url("https://img.freepik.com/premium-vector/abstract-colorful-hexagon-stripped-lines-pattern-background_6735-2045.jpg?size=626&ext=jpg&ga=GA1.1.1826414947.1717372800&semt=ais_user");
    
    background-size: 100%;

    border: solid 1px #7ee3dd;
}

.background_gradient {
    background: linear-gradient(180deg, #260d10 44%, #4a181a 77%);
}

.drop_shadow {
    box-shadow: -20px 20px black;
}
.red_drop_shadow {
    box-shadow: -20px 20px #7c2a2d;
}

.display_flex_1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.display_flex_2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.display_flex_3 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.display_flex_4 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}


.visibility_off {
  display: none;
}

.imagem {
  width: 100%;
  height: 100%;

  box-shadow: 20px -20px #7ee3dd;
}

/* -------------------------------- button */

.button,
.button:after {
  width: 150px;
  height: 76px;
  line-height: 78px;
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(45deg, transparent 5%, #d05553 5%);
  border: 0;
  color: #7ee3dd;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #7ee3dd;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
}

.button:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'RECEBA';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #7ee3dd 3%, #7ee3dd 5%, #d05553 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #7ee3dd;
  clip-path: var(--slice-0);
}

.button:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .button,
  .button:after {
    width: 300px;
    height: 90px;
    line-height: 88px;
  }
}

/* ----------------------------------- header */
header {
    height: 100px;
    width: 100vw;
}

#header_div {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #7ee3dd;
}

#header_image {
    width: 180px;
    height: 80px;
    background-image: url("https://img.freepik.com/premium-vector/abstract-colorful-hexagon-stripped-lines-pattern-background_6735-2045.jpg?size=626&ext=jpg&ga=GA1.1.1826414947.1717372800&semt=ais_user");

    background-size: 100%;

    border: solid 1px #7ee3dd;
}

/* ----------------------------------- main */

.main_box_style {
    min-height: 100vh;
}

/* ---------------------------------- section 1 */

#categorias {
  height: 600px;
  width: 90%;
  margin: auto;
  padding: 50px 0px;

  border-bottom: solid 1px #d05553;
}

.options {
  background-color: green;

  width: 30%;
  height: 90%;
  text-align: center;
  cursor: pointer;

  transition: transform 0.3s ease-in-out;
}

.options:hover {
  transform: scale(1.05);
}
/* ------------------------------ section 2 */

/* --------------------------------- Tipo A */
#produtos_A {
  width: 90%;
  height: auto;
  margin: auto;
  padding: 100px 0px;
}
/* ---------------------------- produto 1 */

#produto_1_A {
  height: 30%;
  width: 90%;
  margin-bottom: 50px;
}

#produto_imagem_1_A {
  background-color: pink;

  height: 600px;
  width: 50%;
}

#produo_mais_1_A {
  height: 500px;
}

/* ---------------------------- produto 2 */

#produto_2_A {

  height: 30%;
  width: 90%;
  margin-bottom: 50px;
}

#produto_imagem_2_A {
  background-color: pink;

  height: 600px;
  width: 50%;
}

#produo_mais_2_A {

  height: 500px;
}

/* -------------------------------- produto 3 */

#produto_3_A {
  
  height: 30%;
  width: 90%;
  margin-bottom: 0px;
  }
  
#produto_imagem_3_A {
  background-color: pink;
  
  height: 600px;
  width: 50%;
}

#produo_mais_3_A {

  height: 500px;
}

/* ------------------------------ Tipo B */

#produtos_B {

  width: 90%;
  height: auto;
  margin: auto;
  padding: 100px 0px;
}

/* ---------------------------- produto 1 */

#produto_1_B {

  height: 30%;
  width: 90%;
  margin-bottom: 50px;
}

#produto_imagem_1_B {
  background-color: pink;

  height: 600px;
  width: 50%;
}

#produo_mais_1_B {

  height: 500px;
}

/* ---------------------------- produto 2 */

#produto_2_B {

  height: 30%;
  width: 90%;
  margin-bottom: 50px;
}

#produto_imagem_2_B {
  background-color: pink;

  height: 600px;
  width: 50%;
}

#produo_mais_2_B {

  height: 500px;
}

/* -------------------------------- produto 3 */

#produto_3_B {
  
  height: 30%;
  width: 90%;
  margin-bottom: 0px;
  }
  
#produto_imagem_3_B {
  background-color: pink;
  
  height: 600px;
  width: 50%;
}

#produo_mais_3_B {

  height: 500px;
}

/* ------------------------------ Tipo C */

#produtos_C {

  width: 90%;
  height: auto;
  margin: auto;
  padding: 100px 0px;
}

/* ---------------------------- produto 1 */

#produto_1_C {

  height: 30%;
  width: 90%;
  margin-bottom: 50px;
}

#produto_imagem_1_C {
  background-color: pink;

  height: 600px;
  width: 50%;
}

#produo_mais_1_C {

  height: 500px;
}

/* ---------------------------- produto 2 */

#produto_2_C {

  height: 30%;
  width: 90%;
  margin-bottom: 50px;
}

#produto_imagem_2_C {
  background-color: pink;

  height: 600px;
  width: 50%;
}

#produo_mais_2_C {

  height: 500px;
}

/* -------------------------------- produto 3 */

#produto_3_C {
  
  height: 30%;
  width: 90%;
  margin-bottom: 0px;
  }
  
#produto_imagem_3_C {
  background-color: pink;
  
  height: 600px;
  width: 50%;
}

#produo_mais_3_C {

  height: 500px;
}

/* ----------------------------------- footer */

footer {
    height: 50vh;
    width: 100vw;
}

#footer_div {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}