* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    color: #d05553;
}

body {
    background: rgb(74,24,26);
    background: linear-gradient(180deg, #4a181a 44%, #260d10 77%);
    width: 100vw;
    overflow-x: hidden;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #7ee3dd;
}
/* ----------------------------------- extras */

.div_formataçao {
    width: 1280px;
    margin: auto;

}
.tamanho_normal {
    font-size: 1rem;
}

.tamanho_2x {
    font-size: 2rem;
}

.tamanho_3x {
    font-size: 3rem;
}

.tamanho_4x {
    font-size: 4rem;
}

.tamanho_5x {
    font-size: 5rem;
}

#title_img {
    width: 100%;
    height: 100%;
}

.img {
    background-color: blue;
    background-image: url("https://img.freepik.com/premium-vector/abstract-colorful-hexagon-stripped-lines-pattern-background_6735-2045.jpg?size=626&ext=jpg&ga=GA1.1.1826414947.1717372800&semt=ais_user");
    
    background-size: 100%;

    border: solid 1px #7ee3dd;
}


/* ----------------------------------- header */
header {
    height: 100px;
    width: 100vw;
}

#header_div {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #7ee3dd;
}

#header_image {
    width: 180px;
    height: 80px;
}

/* ----------------------------------- main */

.main_box_style {
    background: linear-gradient(180deg, #260d10 44%, #4a181a 77%);
    box-shadow: -20px 20px black;
}

.div1_content_text {
    width: 100%;
    padding: 20px;
}

.div1_image_size {
    width: 50%;
    height: 100%;
}


/* ---------------------------------- button */
.button {
  align-items: center;
  appearance: none;
  background-color: #4a181a;
  border-radius: 24px;
  border-style: none;
  box-shadow: #00000033 0 3px 5px -1px,#00000024 0 6px 10px 0,#0000001f 0 1px 18px 0;
  box-sizing: border-box;
  color: #d05553;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  height: 48px;
  font-weight: bold;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

.button:hover {
  background: #d05553;
  color: #4a181a;
}

.button:active {
  box-shadow: 0 4px 4px 0 #3c40434d, 0 8px 12px 6px #3c404326;
  outline: none;
}

.button:not(:disabled) {
  box-shadow: #3c40434d 0 1px 3px 0, #3c404326 0 4px 8px 3px;
}

.button:not(:disabled):hover {
  box-shadow: #3c40434d 0 2px 3px 0, #3c404326 0 6px 10px 4px;
}

.button:not(:disabled):focus {
  box-shadow: #3c40434d 0 1px 3px 0, #3c404326 0 4px 8px 3px;
}

.button:not(:disabled):active {
  box-shadow: #3c40434d 0 4px 4px 0, #3c404326 0 8px 12px 6px;
}

.button:disabled {
  box-shadow: #3c40434d 0 1px 3px 0, #3c404326 0 4px 8px 3px;
}
/* -------------------------- section1 */

#section1 {
    height: 80vh;
}

#title_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    height: 100%;

    color: #ffff63;
}

/* ----------------------------- section 2 */

#section2 {
    padding: 100px 0px;
}

#section2_div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
/* ----------------------------- content 1 */
.div1_content {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

#div1_text_button1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mais_button1 {
    width: 25%;
}

/* ----------------------------- content 2 */

#div1_content2 {
    flex-direction: row-reverse;
}

#div1_text_button2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mais_button2 {
    width: 25%;
}
/* ----------------------------- content 3 */

#div1_text_button3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mais_button3 {
    width: 25%;
}

/* --------------------------- section 3 */


#section3_div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 100vh;
}

.section3_content_div {
    width: 50%;
    height: 50%;

    background-image: url("https://purepng.com/public/uploads/large/purepng.com-cyberpunk-2077-logologosgame-logogame-logosgameslogocyberpunk-2077-12715289961328hlgr.png");
    background-size: 100% 100%;

    text-align: center;
}

/* ------------------------------------- section 4 */

#section4_div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#mais_img {
    height: 90%;
    width: 80%;
    margin: auto;
}

.antes_e_depois {
    height: 90%;
    width: 10%;
    text-align: center;
    align-self: center;
}



/* ----------------------------------- footer */
footer {
    height: 50vh;
    width: 100vw;
}

#footer_div {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
